._ColorDepth-Bg-1 {
  background-color: #F9F7F7;
}

._ColorDepth-Bg-2 {
  background-color: #DBE2EF;
}

._ColorDepth-Bg-3 {
  background-color: #3F72AF;
}

._ColorDepth-Bg-4 {
  background-color: #112D4E;
}