._ColorDepth-Bg-1 {
  background-color: #222831;
}

._ColorDepth-Bg-2 {
  background-color: #393E46;
}

._ColorDepth-Bg-3 {
  background-color: #00ADB5;
}

._ColorDepth-Bg-4 {
  background-color: #EEEEEE;
}